html						{background-color:#000000;}
#sidepanel					{background-color:#616161; height:100%; border-style: solid ridge none none; border-width:5px 10px 0px 0px; border-color: black #2e2e2e;}
#mainpanel					{background-color:#8A0651; height:100%;}
#pagecontent				{margin-top:50px; padding:0px; height:750px;}
#tablewindow				{height:500px; margin:20px; border:3px solid black; overflow-y:scroll; background-color:#FDE1F0;}
#tableinput					{height:200px; margin:20px;}
nav.navbar					{margin:0px; border-radius:0px;}
