/* Author: Ethan Morisette
/* Purpose: to add custom styling on top of the bootstrap styling
/* Notes: please alphabetize selector properties for enhanced readability */

html						{background-color:#000000;}
#pagecontent				{height:750px; margin-top:50px; padding:0px;}

/************************************************************************************************************************************************
	  HEADER STYLING
************************************************************************************************************************************************/
nav.navbar					{border-radius:0px; margin:0px;}


/************************************************************************************************************************************************
      SIDE PANEL STYLING		   
************************************************************************************************************************************************/
#sidepanel							{background-color:#717171; border-color:black #2e2e2e; border-style:solid ridge none none; border-width:5px 10px 0px 0px; height:100%; position:relative;}
.side-panel-top						{position:relative; top:10px; width:100%;}
.side-panel-bot						{bottom:10px; position:absolute;}
button.side-panel-button			{display:block; width:50%; margin-left:auto; margin-right:auto;}
.side-panel-header					{text-align:center; margin-bottom:30px;}
label.side-panel-label				{display:block;}
div.side-panel-divider				{width:100%; margin-bottom: 50px; border:solid black 4px}


/************************************************************************************************************************************************
	  MAIN PANEL STYLING
************************************************************************************************************************************************/
#mainpanel					{background-color:#288fff; height:100%; padding: 20px;}

/***********************************************************************************************************************************************
	  TABLE STYLING
************************************************************************************************************************************************/
#tablewindow				{background-color:#88dfff; border:3px solid black; height:650px;}
.table-header				{background-color:#717171; border-bottom:1px solid black;}

/************************************************************************************************************************************************
	  TABLE FORM STYLING
************************************************************************************************************************************************/
#tableinput					{height:200px; margin:20px;} 

