<!DOCTYPE html>

<html lang="en">

  <!-- Bootstrap Header Declaration -->
  <head>
      <title>{% block title %}{% endblock %}</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <link href="static/custom.css" rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>

      <link rel="shortcut icon"
            type="image/x-icon"
            href="http://www.free-icons-download.net/images/green-dollar-sign-button-icon-12080.png"/>
  </head>

 <!-- HTML Body Code Declaration -->
 <body>

     <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- each block will have its own version of navbar
        this is done to allow the items in the navbar to stay
        highlighted when they are currently being viewed -->
        {% block navbar %}{% endblock %}
      </div>
    </nav>

<!--      <br><br><br>

    <div class="container-fluid">
         <!-- Error Handling 
      {% if error %}
        <br>
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}

      Flash Message Handling
      {% for message in get_flashed_messages() %}
        <br>
        {{ message }}
        <br>
      {% endfor %} -->

      <!-- Child Template Injection -->
      {% block content %}{% endblock %}
    </div>

     <footer class="navbar n+tom">
        <p class="navbar-text navbar-center">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a>
            This work is licensed under a
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License
            </a>.
        </p>
     </footer>


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>

</html>
