{% extends "contenttemplate.html" %}

{% block title %}
	POS | Cashier
{% endblock %}


{% block navbar %}
	<div class="navbar-header">
	  	<a class="navbar-brand" a href="/">POS Application</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	  	<ul class="nav navbar-nav navbar-right">
	      	{% if current_user.is_authenticated %}
	          	<li><a> Hello, {{ current_user.name }} </a></li>
	     	{% else %}
	          	<li><a> Hello, Guest </a></li>
	     	{% endif %}

	      	{%  if current_user.permissions == 1 %}                                       
	            <li><a href="/reports">Reports</a></li>
	      	{% endif %}

	      	{%  if current_user.permissions == 1 or current_user.permissions == 2 %}
	            <li class="active"><a href="/cashier">Cashier</a></li>
	      	{% endif %}

	       	{%  if current_user.permissions == 1 or current_user.permissions == 3 %}
	            <li><a href="/stocker">Stocker</a></li>
	      	{% endif %}

             {% if current_user.is_authenticated %}
                <li>
                {% block dropdown %}
                 {{ super() }}
                {% endblock %}
                </li>
            {% endif %}

	      	<li><a href="/">Home</a> </li>
	      	<li><a href="/logout">Logout</a></li>
	  	</ul>
	</div><!--/.nav-collapse -->
{% endblock %}

{% block sidePanelContent %}
	<div class="side-panel-top">

		<h2 class="side-panel-header"><u>Cashier Menu</u></h2>
		<form id="cashierForm" method=post>
			<div class="form-group">
				<label for="row-number-input">Row Number: </label>
				<input type="number" class="form-control" name="row_number" min=1>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-danger side-panel-button" formid="cashierForm" formaction="{{ url_for('cashierDeleteRow') }}" formmethod="post" data-toggle="tooltip" title="delete an item with the indicated row ID">Delete</button>
			</div>

			<div class="form-group">
                <div class="side-panel-divider"></div>
            </div>

			<div class="form-group">
				<label for="item-id-input">Item ID: </label>
				<input type="number" class="form-control" name="item_id">
			</div>

			<div class="form-group">
				<label for="price-per-unit-input">Price Per Unit: </label>
				<input type="number" class="form-control" name="price_per_unit" step="0.01" min="0.00">
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-info side-panel-button" formid="cashierForm" formaction="{{ url_for('cashierAddRow') }}" formmethod="post" data-toggle="tooltip" title="enter an id and click this to edit a current cart item; click this without entering an id to add a new item to the cart">Update</button>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-info side-panel-button" formid="cashierForm" formaction="{{ url_for('cashierCancel') }}" formmethod="post" data-toggle="tooltip" title="clear text boxes and current cart">Cancel</button>
  			</div>
    	</form>
        <form action="{{ url_for('enterCustomerInfo') }}" method=post>
			<button type="submit" class="btn btn-info side-panel-button" data-toggle="tooltip" title="click to enter the customer info and finish this transaction">Enter Customer Info</button>
		</form>
	</div>
{% endblock %}

{% block table %}
	<thead class="table-header">
		<tr>
			<td>Row Number</td>
			<td>Item ID</td>
			<td>Product Name</td>
			<td data-toggle="tooltip" title="the amount of money the customer pays for each item">Price Per Unit</td>
		</tr>
	</thead>

	<tbody>
		{% set myNum = 0 %}
		{% for cashierRow in cashierTable.rowsList %}
			{% set myNum = myNum + 1 %}
			<tr>
				<td> {{ myNum }} </td>
				<td> {{ cashierRow.item_id }} </td>
				<td> {{ cashierRow.product_name }} </td>
				<td> {{ "${0:.2f}".format(cashierRow.price) }} </td>
			</tr>
		{% endfor %}
	</tbody>
{% endblock %}

