{% extends "contenttemplate.html" %}

{% block title %}
	Cashier Menu
{% endblock %}


{% block navbar %}
	<div class="navbar-header">
	  	<a class="navbar-brand" a href="/">POS Application</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	  	<ul class="nav navbar-nav navbar-right">
	      	{% if current_user.is_authenticated %}
	          	<li><a> Hello, {{ current_user.name }} </a></li>
	     	{% else %}
	          	<li><a> Hello, Guest </a></li>
	     	{% endif %}

	      	{%  if current_user.permissions == 1 %}                                       
	            <li><a href="/reports">Reports</a></li>
	      	{% endif %}

	      	{%  if current_user.permissions == 1 or current_user.permissions == 2 %}
	            <li class="active"><a href="/cashier">Cashier</a></li>
	      	{% endif %}

	       	{%  if current_user.permissions == 1 or current_user.permissions == 3 %}
	            <li><a href="/stocker">Stocker</a></li>
	      	{% endif %}

             {% if current_user.is_authenticated %}
                <li>
                {% block dropdown %}
                 {{ super() }}
                {% endblock %}
                </li>
            {% endif %}

	      	<li><a href="/">Home</a> </li>
	      	<li><a href="/logout">Logout</a></li>
	  	</ul>
	</div><!--/.nav-collapse -->
{% endblock %}

{% block sidePanelContent %}
	<div class="side-panel-top">
		<h2>Cashier Menu</h2>
		<form id="cashierForm" method=post>
			<input type="text" name="row_number" placeholder="Row Number">
			<button type="submit" formid="cashierForm" formaction="{{ url_for('cashierDeleteRow') }}" formmethod="post">Delete</button>
			<input type="text" name="item_id" placeholder="Item ID">
			<input type="text" name="price_per_unit" placeholder="Price Per Unit">
			<button type="submit" formid="cashierForm" formaction="{{ url_for('cashierAddRow') }}" formmethod="post">Update</button>
			<button type="submit" formid="cashierForm" formaction="{{ url_for('cashierCancel') }}" formmethod="post">Cancel</button>
    	</form>
		<form action="{{ url_for('finishTransaction') }}" method=post>
			<input type="submit" value="Finish Transaction">
		</form>
	</div>
{% endblock %}

{% block table %}
	<thead class="table-header">
		<tr>
			<td>Row Number</td>
			<td>Item ID</td>
			<td>Product Name</td>
			<td>Price Per Unit</td>
		</tr>
	</thead>

	<tbody>
		{% set myNum = 0 %}
		{% for cashierRow in cashierTable.rowsList %}
			{% set myNum = myNum + 1 %}
			<tr>
				<td> {{ myNum }} </td>
				<td> {{ cashierRow.item_id }} </td>
				<td> {{ cashierRow.product_name }} </td>
				<td> {{ cashierRow.price }} </td>
			</tr>
		{% endfor %}
	</tbody>
{% endblock %}

