{% extends "contenttemplate.html" %}

{% block title %} 
	Cashier Menu
{% endblock %}

<!-- block navbar extended from base.html -->
{% block navbar %}
	<div class="navbar-header">
	  	<a class="navbar-brand" a href="/">POS Application</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	  	<ul class="nav navbar-nav navbar-right">
	      	{% if current_user.is_authenticated %}
	          	<li><a> Hello, {{ current_user.name }} </a></li>
	     	{% else %}
	          	<li><a> Hello, Guest </a></li>
	     	{% endif %}

	      	{%  if current_user.permissions == 1 %}                                       <!-- where does this get passed in? -->
	            <li><a href="/manager">Manager</a></li>
	      	{% endif %}

	      	{%  if current_user.permissions == 1 or current_user.permissions == 2 %}
	            <li class="active"><a href="/cashier">Cashier</a></li>
	      	{% endif %}

	       	{%  if current_user.permissions == 1 or current_user.permissions == 3 %}
	            <li><a href="/stocker">Stocker</a></li>
	      	{% endif %}

	      	<li><a href="/">Home</a> </li>
	      	<li><a href="/logout">Logout</a></li>
	  	</ul>
	</div><!--/.nav-collapse -->
{% endblock %}

{% block sidePanelContent %}
	<div class="side-panel-top">
		<h2>Last Item Scanned</h1>
		<p>Name: {{ receiptTable.mostRecentRow.productName }} </p>
		<p>Brand: </p>
		<p>Product ID: {{ receiptTable.mostRecentRow.productID }} </p>
		<p>Quantity: {{ receiptTable.mostRecentRow.quantity }} </p>
		<p>Weight: {{ receiptTable.mostRecentRow.weight }} </p>
		<p>Price: {{ receiptTable.mostRecentRow.pricePerUnit }} </p>
	</div>
	<div class="side-panel-bot">
		<h2>Other Information</h2>
		<p>Transaction ID: </p>
		<p>Profit Today: </p>
	</div>
{% endblock %}

{% block table %}
	<thead class="table-header">
		<tr>
			<td>Product Name</td>
			<td>Product ID</td>
			<td>Quantity</td>
			<td>Weight</td>
			<td>Price Per Unit</td>
		</tr>
	</thead>

	<tbody>
		{% for receiptRow in receiptTable.rowsList %}
			<tr>
				<td> {{ receiptRow.productName }} </td>
				<td> {{ receiptRow.productID }} </td>
				<td> {{ receiptRow.quantity }} </td>
				<td> {{ receiptRow.weight }} </td>
				<td> {{ receiptRow.pricePerUnit }} </td>
			</tr>
		{% endfor %}
	</tbody>
{% endblock %}

{% block tableInput %}
	<form action="{{ url_for('cashierAddRow') }}" method=post>
		<input type="text" name="cashierBarcode" placeholder="Enter a barcode" required>
		<input type="text" name="cashierQuantity" placeholder="Quantity" size=4>
		<input type="text" name="cashierWeight" placeholder="Weight" size=4>
		<input type="submit" name="cashierAddItem" value="Add Item">
		<a class="btn btn-info" href="#">Override Price</a>
		<input type="submit" name="cashierSubmitTable" value="Finish Transaction">
	</form>
{% endblock %}

