<!-- Template for database pages, declaring a side panel content in a block for each database page. -->

{% extends "contenttemplate.html" %}

{% block sidePanelContent %}
    <div class="side-panel-top">
	    <h2>{% block sidePanelHeader %}{% endblock %}</h2>
	    <form id="database-form">
	    	<div class="form-group">
		    	<label for="idInput">ID: </label>
		        <input type="number" class="form-control" name="DatabaseID" id="idInput" min=1>
	    	</div>
	    	
	        <div class="form-group">
	        	<button type="submit" class="btn btn-info" form="database-form" formaction={% block deleteURL %}{% endblock %} formmethod="post" >Delete</button>
	        </div>
	        
	        {% block formData %}{% endblock %}

	        <div class="form-group">
		        <button type="submit" class="btn btn-info" form="database-form" formaction={% block updateURL %}{% endblock %} formmethod="post" >Update</button>
	        </div>

	        <div class="form-group">
		        <button type="submit" class="btn btn-info" form="database-form" formaction={% block cancelURL %}{% endblock %} formmethod="post">Cancel</button>
	    	</div>
	    </form>
    </div>
{% endblock %}
