{% extends "databasetemplate.html" %}

{% block title %}
    POS | Discount | DB
{% endblock %}

{% block navbar %}
      <div class="navbar-header">
        <a class="navbar-brand" a href="/">POS Application</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li><a> Hello, {{ current_user.name }} </a></li>
            {% else %}
                <li><a> Hello, Guest </a></li>
            {% endif %}


            {%  if current_user.permissions == 1 %}                                       
                  <li><a href="/reports">Reports</a></li>
            {% endif %}

            {%  if current_user.permissions == 1 or current_user.permissions == 2 %}
                  <li><a href="/cashier">Cashier</a></li>
            {% endif %}

             {%  if current_user.permissions == 1 or current_user.permissions == 3 %}
                  <li><a href="/stocker">Stocker</a></li>
            {% endif %}

            {% if current_user.is_authenticated %}
                <li>
                {% block dropdown %}
                 {{ super() }}
                {% endblock %}
                </li>
            {% endif %}

            <li><a href="/">Home</a> </li>
            <li><a href="/logout">Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
{% endblock %}

<!-- - - - - - - - - - - - - - - - - - - - 
    SIDE PANEL BLOCKS
  -  - - - - - - - - - - - - - - - - - - -->     
{% block sidePanelHeader %}
    Discounts Menu
{% endblock %}

{% block deleteURL %}
    "{{ url_for('discountDBDeleteDiscount') }}"
{% endblock %}

{% block formData %}
    <div class="form-group">
        <label for="product-id-input">Product ID: </label>
        <input type="number" class="form-control" name="product-id" id="product-id-input">
    </div>
    
    <div class="form-group">
        <label for="start-date-input">Start Date: </label>
        <input type="date" class="form-control" name="start-date" id="start-date-input">
    </div>

    <div class="form-group">
        <label for="end-date-input">End Date: </label>
        <input type="date" class="form-control" name="end-date" id="end-date-input">
    </div>

    <div class="form-group">
        <label for="percent-off-input" data-toggle="tooltip" title="a decimal between 0.00 and 1.00 to indicate how much percent off">Percent Off: </label>
        <input type="number" class="form-control" name="percent-off" id="percent-off-input" step="0.01" min="0.01" max="1.00">  
    </div>

{% endblock %}

{% block updateURL %}
    "{{ url_for('discountDBUpdateDiscount') }}"
{% endblock %}

{% block cancelURL %}
    "{{ url_for('discountDBCancel') }}"
{% endblock %}

{% block table %}
    <thead class="table-header">
        <tr>
            <td>Discount ID</td>
            <td>Product ID</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td data-toggle="tooltip" title="the percentage off of the standard price (i.e. standardPrice * (1 - percentOff))">Discount</td>
        </tr>
    </thead>

    <tbody>
        {% for row in pagination.items %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.product_id }}</td>
                <td>{{ row.start_date }}</td>
                <td>{{ row.end_date }}</td>
                <td>{{ "{0:.2f}".format(row.discount) }}</td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block tableInput %}
    <div style="font-size: 15px; background-color: white;padding: 10px; border: 5px solid black; text-align: center; ">
        <a href="{{ url_for('discountsDB')}}"> 1 </a>|
{% if pagination.has_prev %}<a href="{{ url_for('discountsDB', page=pagination.prev_num) }}">{{ pagination.prev_num }}..</a>{% else %}{% endif %}
    <strong>{{ pagination.page }}</strong>
{% if pagination.has_next %}<a href="{{ url_for('discountsDB', page=pagination.next_num) }}">..{{ pagination.next_num }} </a>{% else %}{% endif %}
        | <a href="{{ url_for('discountsDB',page=pagination.pages) }}">{{ pagination.pages }}</a>
    </div>
{% endblock %}
