{% extends "contenttemplate.html" %}

{% block title %}
	Inventory Menu
{% endblock %}


{% block navbar %}
    <div class="navbar-header">
        <a class="navbar-brand" a href="/">POS Application</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li><a> Hello, {{ current_user.name }} </a></li>
            {% else %}
                <li><a> Hello, Guest </a></li>
            {% endif %}

            {%  if current_user.permissions == 1 %}                                      
                <li><a href="/reports">Reports</a></li>
            {% endif %}

            {% if current_user.permissions == 1 or current_user.permissions == 2 %}
                <li><a href="/transactions">Transactions</a></li>
            {% endif %}

            {%  if current_user.permissions == 1 or current_user.permissions == 3 %}
                <li class="active"><a href="/inventory">Inventory</a></li>
            {% endif %}

             {% if current_user.is_authenticated %}
                <li>
                {% block dropdown %}
                 {{ super() }}
                {% endblock %}
                </li>
            {% endif %}

            <li><a href="/">Home</a> </li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div><!--/.nav-collapse -->

{% endblock %}

{% block sidePanelContent %}
    <div class="side-panel-top">
        <form id="stocker-form">
            <input type="text" name="row_number" placeholder="Row Number">
            <button type="submit" formid="stocker-form" formaction="{{ url_for('stockerDeleteRow') }}" formmethod="post">Delete</button>
            <input type="text" name="product_id" placeholder="Product ID">
            <input type="text" name="inventory_cost" placeholder="Inventory Cost">
            <button type="submit" formid="stocker-form" formaction="{{ url_for('stockerAddRow') }}" formmethod="post">Update</button>
            <button type="submit" formid="stocker-form" formaction="{{ url_for('stockerCancel') }}" formmethod="post">Cancel</button>
        </form>
        <form action="{{ url_for('updateInventory') }}" method=post>
            <input type="submit" value="Update Inventory">
        </form>
    </div>
{% endblock %}

{% block table %}
    <thead class="table-header">
        <tr>
            <td>Row Number</td>
            <td>Product Name</td>
            <td>Product ID</td>
            <td>Inventory Cost</td>
        </tr>
    </thead>

    <tbody>
        {% set myNum = 0 %}
        {% for row in inventoryTable.rowsList %}
            {% set myNum = myNum + 1 %}
            <tr>
                <td> {{ myNum }} </td>
                <td> {{ row.name }} </td>
                <td> {{ row.product_id }} </td>
                <td> {{ row.inventory_cost }} </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}



