{% extends "databasetemplate.html" %}

{% block title %}
    POS | Items Sold | DB
{% endblock %}

{% block navbar %}
      <div class="navbar-header">
        <a class="navbar-brand" a href="/">POS Application</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li><a> Hello, {{ current_user.name }} </a></li>
            {% else %}
                <li><a> Hello, Guest </a></li>
            {% endif %}


            {%  if current_user.permissions == 1 %}                                       
                  <li><a href="/reports">Reports</a></li>
            {% endif %}

            {%  if current_user.permissions == 1 or current_user.permissions == 2 %}
                  <li><a href="/cashier">Cashier</a></li>
            {% endif %}

             {%  if current_user.permissions == 1 or current_user.permissions == 3 %}
                  <li><a href="/stocker">Stocker</a></li>
            {% endif %}

            {% if current_user.is_authenticated %}
                <li>
                {% block dropdown %}
                 {{ super() }}
                {% endblock %}
                </li>
            {% endif %}

            <li><a href="/">Home</a> </li>
            <li><a href="/logout">Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
{% endblock %}

<!-- - - - - - - - - - - - - - - - - - - - 
    SIDE PANEL BLOCKS
  -  - - - - - - - - - - - - - - - - - - -->     
{% block sidePanelHeader %}
    Items Sold Menu
{% endblock %}

{% block deleteURL %}
    "{{ url_for('itemsoldDBDeleteItemsold') }}"
{% endblock %}

{% block formData %}
  <div class="form-group">
      <label for="item-id-input">Item ID: </label>
      <input type="number" class="form-control" name="item-id" id="item-id-input">
  </div>

  <div class="form-group">
      <label for="price-sold-input">Price Sold: </label>
      <input type="number" class="form-control" name="price-sold" id="price-sold-input" step="0.01" min="0.00">
  </div>

  <div class="form-group">
      <label for="transaction-id-input">Transaction ID: </label>
      <input type="number" class="form-control" name="transaction-id" id="transaction-id-input">  
  </div>

{% endblock %}

{% block updateURL %}
    "{{ url_for('itemsoldDBUpdateItemsold') }}"
{% endblock %}

{% block cancelURL %}
    "{{ url_for('itemsoldDBCancel') }}"
{% endblock %}

{% block table %}
    <thead class="table-header">
        <tr>
            <td>Item Sold ID</td>
            <td>Item ID</td>
            <td>Product ID</td>
            <td data-toggle="tooltip" title="the amount of money the customer paid for the item">Price Sold</td>
            <td data-toggle="tooltip" title="the amount of money WE paid for the item">Inventory Cost</td>
            <td>Transaction ID</td>
        </tr>
    </thead>

    <tbody>
        {% for row in pagination.items %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.item_id }}</td>
                <td>{{ row.product_id }}</td>
                <td>{{ row.price_sold }}</td>
                <td>{{ row.inventory_cost }}</td>
                <td>{{ row.transaction_id }}</td>
            </tr>
        {% endfor %}
    </tbody>
  {% endblock %}

    {% block tableInput %}
    <div style="font-size: 15px; background-color: white;padding: 10px; border: 5px solid black; text-align: center; ">
        <a href="{{ url_for('itemssoldDB')}}"> 1 </a>|
{% if pagination.has_prev %}<a href="{{ url_for('itemssoldDB', page=pagination.prev_num) }}">{{ pagination.prev_num }}..</a>{% else %}{% endif %}
    <strong>{{ pagination.page }}</strong>
{% if pagination.has_next %}<a href="{{ url_for('itemssoldDB', page=pagination.next_num) }}">..{{ pagination.next_num }} </a>{% else %}{% endif %}
        | <a href="{{ url_for('itemssoldDB',page=pagination.pages) }}">{{ pagination.pages }}</a>
    </div>
{% endblock %}
