{% extends "contenttemplate.html" %}

{% block title %} 
    Manager Menu
{% endblock %}

<!-- block navbar extended from base.html -->
{% block navbar %}
    <div class="navbar-header">
        <a class="navbar-brand" a href="/">POS Application</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li><a> Hello, {{ current_user.name }} </a></li>
            {% else %}
                <li><a> Hello, Guest </a></li>
            {% endif %}

            {%  if current_user.permissions == 1 %}                                       <!-- where does this get passed in? -->
                <li class="active"><a href="/manager">Manager</a></li>
            {% endif %}

            {%  if current_user.permissions == 1 or current_user.permissions == 2 %}
                <li><a href="/cashier">Cashier</a></li>
            {% endif %}

           {%  if current_user.permissions == 1 or current_user.permissions == 3 %}
                <li><a href="/stocker">Stocker</a></li>
            {% endif %}

            <li><a href="/">Home</a> </li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div><!--/.nav-collapse -->
{% endblock %}

{% block sidePanelContent %}
    <h2>Generate a Report</h2>
    <form id="manager-form">
        <select class="form-control" form="manager-form">
            <option value="earnings_report">Earnings Report</option>
            <option value="item_inventory_report">Item Inventory Report</option>
            <option value="product_inventory_report">Product Inventory Report</option>
            <option value="transaction_report">Transaction Report</option>
        </select>
        <input type="date" name="managerReportStart">
        <input type="date" name="managerReportEnd">
        <button type="submit" name="managerReportDownload" class="btn btn-info">Download Report</button>
    </form>
    <h2>Other Administrative Tools</h2>
    <a class="btn btn-info" href="/register">Create Account</a>
    <a class="btn btn-info" href="#">Make Purchase Order</a>
  
{% endblock %}

{% block table %}
    <thead>
        <tr>
            <td>Product Name</td>
            <td>Product ID</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Sale Price</td>
        </tr>
    </thead>

    <tbody>
        {% for saleRow in saleTable.rowsList %}
            <tr>
                <td> {{ saleRow.productName }} </td>
                <td> {{ saleRow.productID }} </td>
                <td> {{ saleRow.start }} </td>
                <td> {{ saleRow.end }} </td>
                <td> {{ saleRow.salePrice }} </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block tableInput %}
    <form action="{{ url_for('managerAddRow') }}" method=post>
        <input type="text" name="managerBarcode" placeholder="Enter the product ID (i.e. barcode)" required>
        <input type="date" name="managerSaleStart">
        <input type="date" name="managerSaleEnd">
        <input type="text" name="managerSalePrice" placeholder="Sale Price">
        <input type="submit" name="managerSubmitItem" value="Add Sale">
    </form>
{% endblock %}

