{% extends "databasetemplate.html" %}
{% block navbar %}
      <div class="navbar-header">
        <a class="navbar-brand" a href="/">POS Application</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li><a> Hello, {{ current_user.name }} </a></li>
            {% else %}
                <li><a> Hello, Guest </a></li>
            {% endif %}


            {%  if current_user.permissions == 1 %}                                       
                  <li><a href="/reports">Reports</a></li>
            {% endif %}

            {%  if current_user.permissions == 1 or current_user.permissions == 2 %}
                  <li><a href="/transactions">Transactions</a></li>
            {% endif %}

             {%  if current_user.permissions == 1 or current_user.permissions == 3 %}
                  <li><a href="/inventory">Inventory</a></li>
            {% endif %}

            {% if current_user.is_authenticated %}
                <li>
                {% block dropdown %}
                 {{ super() }}
                {% endblock %}
                </li>
            {% endif %}

            <li><a href="/">Home</a> </li>
            <li><a href="/logout">Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
{% endblock %}

{% block formData %}
  <input type="text" name="product-name" placeholder="name">
  <input type="text" name="supplier-id" placeholder="supplier ID">
  <input type="text" name="inventory-count" placeholder="inventory count"> 
  <input type="text" name="min-inventory" placeholder="minimum inventory">
  <input type="text" name="shelf-life" placeholder="shelf life">
  <input type="text" name="standard-price"placeholder="standard price"> 

{% endblock %}

{% block table %}
    <thead class="table-header">
        <tr>
            <td>Product ID</td>
            <td>Product Name</td>
            <td>Supplier ID</td>
            <td>Inventory Count</td>
            <td>Minimum Inventory</td>
            <td>Shelf Life</td>
            <td>Standard Price</td>
        </tr>
    </thead>

    <tbody>
        {% for row in productsDBTable %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.supplier_id }}</td>
                <td>{{ row.inventory_count }}</td>
                <td>{{ row.min_inventory }}</td>
                <td>{{ row.shelf_life }}</td>
                <td>{{ row.standard_price }}</td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}
