{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block navbar %}
    <div class="navbar-header">
        <a class="navbar-brand" a href="/">POS Application</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li><a> Hello, {{ current_user.name }} </a></li>
            {% else %}
                <li><a> Hello, Guest </a></li>
            {% endif %}

            {%  if current_user.permissions == 1 %}                                       <!-- where does this get passed in? -->
                <li><a href="/manager">Manager</a></li>
            {% endif %}

            {% if current_user.permissions == 1 or current_user.permissions == 2 %}
                <li><a href="/cashier">Cashier</a></li>
            {% endif %}

            {%  if current_user.permissions == 1 or current_user.permissions == 3 %}
                <li class="active"><a href="/stocker">Stocker</a></li>
            {% endif %}

             {% if current_user.is_authenticated %}
                <li>
                {% block dropdown %}
                 {{ super() }}
                {% endblock %}
                </li>
            {% endif %}

            <li><a href="/">Home</a> </li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div><!--/.nav-collapse -->

{% endblock %}
{% block content %}
    <head xmlns="http://www.w3.org/1999/html">
    </head>



    <center>
<h1 style="font-family:PT Sans Narrow,serif;font-size:130%" >Register User</h1>
    <u><p style="font-family:PT Sans Narrow,serif;font-size:110%">
    Permission Levels:</u> <br>Manager: 1<br>Cashier: 2 <br>Stocker: 3</p>
    <br>
    <p style="font-family:PT Sans Narrow,serif;font-size:105%" >Areas marked with a * are required.</p>
<form class="form-signin" role="form" method="post" action="">
  {{ form.csrf_token }}
  <p>
 <input maxlength="16" {{ form.username(placeholder="Username*") }}
    <span class="error">
      {% if form.username.errors %}
      <br>
        {% for error in form.username.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>


<p>
 <input maxlength="1" {{ form.permission(placeholder="Permission Level*") }}
    <span class="error">
      {% if form.permission.errors %}
        {% for error in form.permission.errors %}
        <br>
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>

 <input maxlength="16" {{ form.password(placeholder="Password*") }}
<p>
    <span class="error">
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>

  <p>
    <input maxlength="16"{{ form.confirm(placeholder="Confirm Password*") }}

    <span class="error">
      {% if form.confirm.errors %}
              <br>
        {% for error in form.confirm.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>

<div style="padding-bottom: 7px">
    <button class="btn btn-sm btn-success" type="submit">Register New User</button>
</div>  <a class="btn btn-sm btn-success" type="button" href="/manager">Return to Manager Panel</a>
</form>
</center>


{% endblock %}
