{% extends "contenttemplate.html" %}

{% block title %}
	Reports Menu
{% endblock %}


{% block navbar %}
    <div class="navbar-header">
        <a class="navbar-brand" a href="/">POS Application</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li><a> Hello, {{ current_user.name }} </a></li>
            {% else %}
                <li><a> Hello, Guest </a></li>
            {% endif %}

            {%  if current_user.permissions == 1 %}                                      
                <li class="active"><a href="/reports">Reports</a></li>
            {% endif %}

            {% if current_user.permissions == 1 or current_user.permissions == 2 %}
                <li><a href="/cashier">Cashier</a></li>
            {% endif %}

            {%  if current_user.permissions == 1 or current_user.permissions == 3 %}
                <li><a href="/stocker">Stocker</a></li>
            {% endif %}

             {% if current_user.is_authenticated %}
                <li>
                {% block dropdown %}
                 {{ super() }}
                {% endblock %}
                </li>
            {% endif %}

            <li><a href="/">Home</a> </li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div><!--/.nav-collapse -->
{% endblock %}

{% block sidePanelContent %}
    <div class="side-panel-top">
        <h2>Report Menu</h2>
        <form id="manager-form" action="/download" method=post>
            <div class="form-group">
                <label for="report-dropdown-input">Pick a report: </label>
                <select class="form-control" id="report-dropdown-input" name="report-dropdown" form="manager-form">
                    <option value="Items in Inventory">Items Table Data</option>
                    <option value="Products">Products Table Data</option>
                    <option value="Transactions">Transactions Table Data</option>
                    <option value="Items Sold">Items Sold Table Data</option>
                    <option value="Discounts">Discounts Table Data</option>
                    <option value="Suppliers">Suppliers Table Data</option>
                    <option value="Users">Users Table Data</option>
                    <option value="inventory_worth_report">Inventory Worth Report</option>
                    <option value="revenue_audit_report">Revenue Audit Report</option>
                    <option value="purchase_order_report">Purchase Order Report</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="start-date-input">Start Date </label>
                <input class="form-control" id="start-date-input" type="date" name="report-start-date">
            </div>

            <div class="form-group">
                <label for="end-date-input">End Date </label>
                <input class="form-control" id="end-date-input" type="date" name="report-end-date">
            </div>

            <button type="submit" name="managerReportDownload" class="btn btn-info">Download Report</button>
        </form>
    </div>
{% endblock %}

{% block table %}
    <thead class="table-header">
        <tr>
            <td></td>
            <td>Daily</td>
            <td>Weekly</td>
            <td>Monthly</td>
            <td>Custom</td>
        </tr>
    </thead>

    <tbody>
        {% for row in reportTable.rowsList %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.daily }}</td>
                <td>{{ row.weekly }}</td>
                <td>{{ row.monthly }}</td>
                <td>{{ row.custom }}</td>
            </tr>
        {% endfor %}
{% endblock %}

{% block tableInput %}
{% endblock %}
