<!-- 
####################################################################################################################
# Name: stocker.html                                                                                               #
# Last Modified: 4/30/2016                                                                                         #
# Purpose: displays the stocker interface when the stocker tab is clicked                                          #
#################################################################################################################### 
-->

<!-- 
#####################################################################################################
# INHERITED TEMPLATES ###############################################################################
#####################################################################################################
-->
{% extends "contenttemplate.html" %}

<!-- 
#####################################################################################################
# PAGE TITLE ########################################################################################
#####################################################################################################
-->
{% block title %}
	POS | Stocker
{% endblock %}

<!-- 
#####################################################################################################
# NAVIGATION BAR ####################################################################################
#####################################################################################################
-->
{% block navbar %}
    <div class="navbar-header">
        <a class="navbar-brand" a href="/">POS Application</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li><a> Hello, {{ current_user.name }} </a></li>
            {% else %}
                <li><a> Hello, Guest </a></li>
            {% endif %}

            {%  if current_user.permissions == 1 %}                                      
                <li><a href="/reports">Reports</a></li>
            {% endif %}

            {% if current_user.permissions == 1 or current_user.permissions == 2 %}
                <li><a href="/cashier">Cashier</a></li>
            {% endif %}

            {%  if current_user.permissions == 1 or current_user.permissions == 3 %}
                <li class="active"><a href="/stocker">Stocker</a></li>
            {% endif %}

             {% if current_user.is_authenticated %}
                <li>
                {% block dropdown %}
                 {{ super() }}
                {% endblock %}
                </li>
            {% endif %}

            <li><a href="/">Home</a> </li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div><!--/.nav-collapse -->
{% endblock %}

<!-- 
#####################################################################################################
# SIDE PANEL ########################################################################################
#####################################################################################################
-->
{% block sidePanelContent %}
    <div class="side-panel-top">

        <!-- side panel header -->
        <h2 class="side-panel-header"><u>Stocker Menu</u></h2>

        <form id="stocker-form">

            <!-- row number input -->
            <div class="form-group">
                <label for="row-number-input">Row Number: </label>
                <input type="number" class="form-control" name="row_number" id="row-number-input" min=1>
            </div>

            <!-- delete button -->
            <div class="form-group">
                <button type="submit" class="btn btn-danger side-panel-button" formid="stocker-form" formaction="{{ url_for('stockerDeleteRow') }}" formmethod="post" data-toggle="tooltip" title="delete an item with the indicated row ID">Delete</button>
            </div>

            <!-- side panel divider -->
            <div class="form-group">
                <div class="side-panel-divider"></div>
            </div>

            <!-- product ID input -->
            <div class="form-group">
                <label for="product-id-input">Product ID: </label>
                <input type="number" class="form-control" name="product_id" id="product-id-input">
            </div>

            <!-- quantity input -->
            <div class="form-group">
                <label for="quantity-input">Quantity: </label>
                <input type="number" class="form-control" name="quantity" id="quantity-input">
            </div>

            <!-- inventory cost input -->
            <div class="form-group">
                <label for="inventory-cost-input">Inventory Cost: </label>
                <input type="number" class="form-control" name="inventory_cost" id="inventory-cost-input" step="0.01" min="0.00">
            </div>

            <!-- update button -->
            <div class="form-group">
                <button type="submit" class="btn btn-info side-panel-button" formid="stocker-form" formaction="{{ url_for('stockerAddRow') }}" formmethod="post" data-toggle="tooltip" title="enter an id and click this to edit a current cart item; click this without entering an id to add a new item to the cart">Update</button>
            </div>

            <!-- cancel button -->
            <div class="form-group">
                <button type="submit" class="btn btn-info side-panel-button" formid="stocker-form" formaction="{{ url_for('stockerCancel') }}" formmethod="post" data-toggle="tooltip" title="clear text boxes, errors, and items in current cart">Cancel</button>
            </div>

        </form> <!-- stocker-form -->

        <!-- update stocker button -->
        <form action="{{ url_for('updateInventory') }}" method=post>
            <button type="submit" class="btn btn-info side-panel-button" data-toggle="tooltip" title="click to finalize this cart and update the database">Update Inventory</button>
        </form>
    </div>
{% endblock %}

<!-- 
#####################################################################################################
# TABLE CONTENT #####################################################################################
#####################################################################################################
-->
{% block table %}
    
    <!-- table header -->
    <thead class="table-header">
        <tr>
            <td>Row Number</td>
            <td>Product Name</td>
            <td>Product ID</td>
            <td>Quantity</td>
            <td data-toggle="tooltip" title="the amount of money WE paid for the item">Inventory Cost</td>
        </tr>
    </thead>

    <!-- table body -->
    <tbody>
        <!-- myNum is a local variable created within this template to keep track of the row number to display while looping through the stocker table -->
        {% set myNum = 0 %}
        {% for stockerRow in stockerTable.rowsList %}
            {% set myNum = myNum + 1 %}
            <tr>
                <td> {{ myNum }} </td>
                <td> {{ stockerRow.name }} </td>
                <td> {{ stockerRow.product_id }} </td>
                <td> {{ stockerRow.quantity }} </td>
                <!-- force python to format the float to 2 decimal places -->
                <td> {{ "${0:.2f}".format(stockerRow.inventory_cost) }} </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}



