<!-- 
####################################################################################################################
# Name:             suppliersDB.html                                                                               #
# Last Modified:    4/30/2016                                                                                      #
# Purpose:          displays the table and table functions for the suppliers database table                        #
#################################################################################################################### 
-->

<!-- 
#####################################################################################################
# INHERITED TEMPLATES ###############################################################################
#####################################################################################################
-->
{% extends "databasetemplate.html" %}

<!-- 
#####################################################################################################
# PAGE TITLE ########################################################################################
#####################################################################################################
-->
{% block title %}
    POS | Suppliers | DB
{% endblock %}

<!-- 
#####################################################################################################
# NAVIGATION BAR ####################################################################################
#####################################################################################################
-->
{% block navbar %}
      <div class="navbar-header">
        <a class="navbar-brand" a href="/">POS Application</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li><a> Hello, {{ current_user.name }} </a></li>
            {% else %}
                <li><a> Hello, Guest </a></li>
            {% endif %}


            {%  if current_user.permissions == 1 %}                                       
                  <li><a href="/reports">Reports</a></li>
            {% endif %}

            {%  if current_user.permissions == 1 or current_user.permissions == 2 %}
                  <li><a href="/cashier">Cashier</a></li>
            {% endif %}

             {%  if current_user.permissions == 1 or current_user.permissions == 3 %}
                  <li><a href="/stocker">Stocker</a></li>
            {% endif %}

            {% if current_user.is_authenticated %}
                <li>
                {% block dropdown %}
                 {{ super() }}
                {% endblock %}
                </li>
            {% endif %}

            <li><a href="/">Home</a> </li>
            <li><a href="/logout">Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
{% endblock %}

<!-- 
#####################################################################################################
# SIDE PANEL ########################################################################################
#####################################################################################################
-->
<!-- side panel header -->
{% block sidePanelHeader %}
    Suppliers Menu
{% endblock %}

<!-- delete button form action -->
{% block deleteURL %}
    "{{ url_for('supplierDBDeleteSupplier') }}"
{% endblock %}

<!-- side panel form data -->
{% block formData %}

    <!-- supplier name input -->
    <div class="form-group">
        <label for="supplier-name-input">Supplier Name: </label>
        <input type="text" class="form-control" name="supplier-name" placeholder="ex. George Washington">
    </div>

    <!-- supplier email input -->
    <div class="form-group">
        <label for="supplier-email-input">Supplier Email: </label>
        <input type="email" class="form-control" name="supplier-email" placeholder="examples@example.com">
    </div>

{% endblock %}

<!-- update button form action -->
{% block updateURL %}
    "{{ url_for('supplierDBUpdateSupplier') }}"
{% endblock %}

<!-- cancel button form action -->
{% block cancelURL %}
    "{{ url_for('supplierDBCancel') }}"
{% endblock %}

<!-- 
#####################################################################################################
# TABLE CONTENT #####################################################################################
#####################################################################################################
-->
{% block table %}

    <!-- table header -->
    <thead class="table-header">
        <tr>
            <td>Supplier ID</td>
            <td>Supplier Name</td>
            <td>Supplier Email</td>
        </tr>
    </thead>

    <!-- table body -->
    <tbody>
        {% for row in pagination.items %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.email }}</td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

<!-- 
#####################################################################################################
# PAGINATION ########################################################################################
#####################################################################################################
-->
{% block tableInput %}
    <div style="font-size: 15px; background-color: white;padding: 10px; border: 5px solid black; text-align: center; ">
        <a href="{{ url_for('supplierDB')}}"> 1 </a>|
{% if pagination.has_prev %}<a href="{{ url_for('supplierDB', page=pagination.prev_num) }}">{{ pagination.prev_num }}..</a>{% else %}{% endif %}
    <strong>{{ pagination.page }}</strong>
{% if pagination.has_next %}<a href="{{ url_for('supplierDB', page=pagination.next_num) }}">..{{ pagination.next_num }} </a>{% else %}{% endif %}
        | <a href="{{ url_for('supplierDB',page=pagination.pages) }}">{{ pagination.pages }}</a>
    </div>
{% endblock %}
