{% extends "databasetemplate.html" %}

{% block title %}
    POS | Transactions | DB
{% endblock %}

{% block navbar %}
      <div class="navbar-header">
        <a class="navbar-brand" a href="/">POS Application</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li><a> Hello, {{ current_user.name }} </a></li>
            {% else %}
                <li><a> Hello, Guest </a></li>
            {% endif %}


            {%  if current_user.permissions == 1 %}                                       
                  <li><a href="/reports">Reports</a></li>
            {% endif %}

            {%  if current_user.permissions == 1 or current_user.permissions == 2 %}
                  <li><a href="/cashier">Cashier</a></li>
            {% endif %}

             {%  if current_user.permissions == 1 or current_user.permissions == 3 %}
                  <li><a href="/stocker">Stocker</a></li>
            {% endif %}

            {% if current_user.is_authenticated %}
                <li>
                {% block dropdown %}
                 {{ super() }}
                {% endblock %}
                </li>
            {% endif %}

            <li><a href="/">Home</a> </li>
            <li><a href="/logout">Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
{% endblock %}

<!-- - - - - - - - - - - - - - - - - - - - 
    SIDE PANEL BLOCKS
  -  - - - - - - - - - - - - - - - - - - -->     
{% block sidePanelHeader %}
    Transactions Menu
{% endblock %}

{% block deleteURL %}
    "{{ url_for('transactionDBDeleteTransaction') }}"
{% endblock %}

{% block formData %}
    <div class="form-group">
        <label for="customer-name-input">Customer Name: </label>
        <input type="text" class="form-control" name="customer-name" placeholder="customer name" id="customer-name-input">
    </div>
    
    <div class="form-group">
        <label for="customer-contatct-input">Customer Contact: </label>
        <input type="text" class="form-control" name="customer-contact" placeholder="customer contact" id="customer-contact-input">
    </div>
    
    <div class="form-group">
        <label for="payment-type-input" data-toggle="tooltip" title="1 for credit | 2 for debit | 3 for cash | 4 for check">Payment Type: </label>
        <input type="number" class="form-control" name="payment-type" id="payment-type-input" min="1" max="4">
    </div>
  
  
   
{% endblock %}

{% block updateURL %}
    "{{ url_for('transactionDBUpdateTransaction') }}"
{% endblock %}

{% block cancelURL %}
    "{{ url_for('transactionDBCancel') }}"
{% endblock %}

{% block table %}
    <thead class="table-header">
        <tr>
            <td>Transaction ID</td>
            <td>Customer Name</td>
            <td>Customer Contact</td>
            <td>Payment Type</td>
            <td>Date</td>
        </tr>
    </thead>

    <tbody>
        {% for row in pagination.items %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.cust_name }}</td>
                <td>{{ row.cust_contact }}</td>
                <td>{{ row.payment_type }}</td>
                <td>{{ row.date }}</td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block tableInput %}
    <div style="font-size: 15px; background-color: white;padding: 10px; border: 5px solid black; text-align: center; ">
        <a href="{{ url_for('transactionsDB')}}"> 1 </a>|
{% if pagination.has_prev %}<a href="{{ url_for('transactionsDB', page=pagination.prev_num) }}">{{ pagination.prev_num }}..</a>{% else %}{% endif %}
    <strong>{{ pagination.page }}</strong>
{% if pagination.has_next %}<a href="{{ url_for('transactionsDB', page=pagination.next_num) }}">..{{ pagination.next_num }} </a>{% else %}{% endif %}
        | <a href="{{ url_for('transactionsDB',page=pagination.pages) }}">{{ pagination.pages }}</a>
    </div>
{% endblock %}
